# IntelliJ project files #
.idea
classes
out
build
*.class

# Eclipse project files #
.classpath
.project
.settings

# Gradle & Maven #
target
.gradle
gradle
gradlew*
gradle.properties
set_env.sh

# Package Files #
*.jar
*.war
*.ear